@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary-color: #1E1930;
    --secondary-color: #FFFF00; 
    --third-color: #3D475E;
    --fourth-color: #CFD8ED;
}

/* Início da Estilização */

body {
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fourth-color);
}

.nav {
    background-color: var(--primary-color);
    padding: 0 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Formulário de Pesquisa*/

.form-container {
    height: 87vh;
    width: 100vw;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 40%;
    min-width: 300px;
}

.card-title {
    color: whitesmoke;
    border-bottom: solid 2px whitesmoke;
    margin-bottom: .2em;
    text-transform: uppercase;
}

label {
    font-size: 1rem;
    color: whitesmoke;
}

input {
    height: 2.5rem;
}

input,
select {
    margin-bottom: .5em;
    margin-top: .2em;
    padding-left: .8em;
    background-color: var(--fourth-color);
    color: black;
    border: 0 none;
    outline: 0;
}

#uf {
    height: 2.5rem;
}

button {
    margin-top: .2em;
    height: 2.5em;
    width: 5.5em;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    border: 2px solid var(--third-color);
    transition: .4s;
    border-radius: 10%;
}

button:hover {
    background-color: var(--fourth-color-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: .4s;
}

/* Resposta */

#resultado {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    color: black;
}

.res-container {
    background-color: var(--third-color);
    padding: 1em;
    margin: 1em;
    border-radius: 2%;
    width: 80%;
    max-width: 350px;
}

footer {
    background-color: #333;
}